{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			<!-- add CSRF(Cross Site Request Forgery token that protects our form from certains attacks) token -->
			{% csrf_token %}
			<fieldset>
				<legend class="border-bottom mb-4">Login Page</legend>
				{{ form|crispy }}
				<!-- {{form.as_p}} -->
				<!-- how do we add a field to our user creation form -->
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Please Login</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Need An Account ? <a class="ml-2" href="{% url 'register' %}">Zaldi Sai Sign Up Now</a>
			</small>
		</div>
	</div>
{% endblock content %}