{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			<!-- add CSRF(Cross Site Request Forgery token that protects our form from certains attacks) token -->
			{% csrf_token %}
			<fieldset>
				<legend class="border-bottom mb-4">Reset Password</legend>
				{{ form|crispy }}
				<!-- {{form.as_p}} -->
				<!-- how do we add a field to our user creation form -->
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Request Password Reset</button>
			</div>
		</form>
	</div>
{% endblock content %}
<!-- The third paper tested our knowledge of computer science subjects. It was mainly focused on Networks and required us to know the basics of TCP/IP, time to live (TTL) etc. -->