{% extends "blog/base.html" %}
{% block content %}
	<article class="media content-section">
	  <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
	      <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>
	      {% if object.author == user %}
	      	<div>
	      		<a class="btn btn-secondary btn-sn mt-1 mb-1" href="{% url 'post-update' object.id %}">click here to update</a>
	      		<a class="btn btn-danger btn-sn mt-1 mb-1" href="{% url 'post-delete' object.id %}">click here to delete</a>
	      	</div>
	      {% endif %}
	    </div>
	    <h2 class="article-title">{{ object.title }}</h2>
	    <p class="article-content">{{ object.content }}</p>
	  </div>
	</article>
	<hr>
	<a class="button" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comments here</a>
	{% for comment in post.comments.all %}
	    <div class="comment">
	        <div class="date">{{ comment.created_date }}
	        {% if not comment.approved_comment %}
                <a class="btn btn-default"href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        	</div>
	        <strong>{{ object.author.username }}</strong>
	        <p>{{ comment.text|linebreaks }}</p>
	    </div>
	{% empty %}
		<div class="media-body">
	    	<p><strong>No comments here yet :(</strong></p>
	    </div>
	{% endfor %}
{% endblock content %}